<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBPVqquZ-hZKY1zIi6MA-r6QKESN9aPbo</string>
	<key>GCM_SENDER_ID</key>
	<string>586228358285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-39c37</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-39c37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586228358285:ios:74b96198b71b28fbe096c4</string>
</dict>
</plist>